* {
  font-family: "Anonymous Pro", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

:root {
  --navbar-background-color: rgba(26, 32, 44, 0.9);
  --navbar-text-color: rgb(255, 255, 255);
  --main-background-color: rgb(26, 32, 44);
  --main-text-color: rgb(255, 255, 255);
}

[data-theme="dark-mode"] {
  --navbar-background-color: rgba(255, 255, 255, 0.9);
  --navbar-text-color: rgb(26, 32, 44);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(26, 32, 44);
}
